name: Check Copyright Boilerplate

on:
  pull_request:
    paths:
      - '**/*'
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  GITHUB_RUN_ID: ${{ github.run_id }}
  GITHUB_PR_NUMBER: ${{ github.event.pull_request.number }}

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
        persist-credentials: false
        show-progress: false

    - name: Check Copyright Boilerplate
      run: .github/scripts/check_boilerplate.sh
